#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.bg-blue-background {
  background-color: rgb(114, 198, 234);
}

.dark-green {
  background-color: rgb(44, 95, 57);
}

.light-green {
  background-color: rgb(78, 146, 78);
}